body{
  position: relative;
  margin: 1in;  
  background-color: whitesmoke;
}

#button{
  position: relative;
  text-align: center;
}

#grid1{
  position: relative;
  text-align: center;
}

#grid2{
  position: relative;
  text-align: center;
}

#grid{
  position: relative;
  text-align: center;
}

#one{
  position: relative;
  padding: 5px;
}

#two{
  position: relative;
  padding: 5px;
}

#three{
  position: relative;
  padding: 5px;
}

#four{
  position: relative;
  padding: 5px;
  text-align: center;
}

#five{
  position: relative;
  padding: 5px;
  text-align: center;
}

#six{
  position: relative;
  padding: 5px;
  text-align: center;
}

#partyOutput{
  position: relative;
  padding: 5px;
}

#totalOutput{
  position: relative;
  padding: 5px;
}

#tipOutput{
  position: relative;
  padding: 5px;
}
